.ant-upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  .img {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.ant-upload-text {
  color: #6e6e6e;
  font-size: 12px;
  line-height: 18px;
  margin-top: 18px;
}
