.editable-element-digital-robot {
  position: absolute;

  &.lock .element-content {
    cursor: default;
  }
}

.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: move;

  .digital-robot-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  img {
    position: absolute;
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}
