.aicc-file {
  &-card {
    border-radius: 8px;
    background-color: #fff;
    padding: 12px;
    overflow: hidden;
    cursor: default;

    &-row {
      display: flex;
      justify-content: space-between;
    }

    &-content {
      flex: 1;
      min-width: 0;
    }

    &-name {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
    }

    &-meta {
      margin-top: 6px;
    }

    &-size {
      font-size: 12px;
    }

    &-cover {
      margin-left: 12px;
      margin-top: 4px;
    }
  }

  &-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-image: url('~@aicc/assets/es/file/unknown.svg');

    &[file-suffix^='jpg'],
    &[file-suffix^='jpeg'],
    &[file-suffix^='png'] {
      background-image: url('~@aicc/assets/es/file/image.svg');
    }
    &[file-suffix$='mp4'] {
      background-image: url('~@aicc/assets/es/file/mp4.svg');
    }
    &[file-suffix$='wav'],
    &[file-suffix$='mp3'] {
      background-image: url('~@aicc/assets/es/file/music.svg');
    }
    &[file-suffix$='txt'] {
      background-image: url('~@aicc/assets/es/file/txt.svg');
    }
    &[file-suffix$='pdf'] {
      background-image: url('~@aicc/assets/es/file/pdf.svg');
    }
    &[file-suffix$='ppt'],
    &[file-suffix$='pptx'] {
      background-image: url('~@aicc/assets/es/file/ppt.svg');
    }
    &[file-suffix$='doc'],
    &[file-suffix$='docx'] {
      background-image: url('~@aicc/assets/es/file/doc.svg');
    }

    &[file-suffix$='xls'],
    &[file-suffix$='xlsx'],
    &[file-suffix$='csv'] {
      background-image: url('~@aicc/assets/es/file/csv.svg');
    }
  }

  &-video {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    font-size: 0;

    video {
      width: 100%;
    }

    &-play {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-player {
      width: 52px;
      height: 52px;
      background-image: url('~@aicc/assets/es/svg/play.svg');
      background-size: cover;
    }
  }
}
