@import '~@/themes/index.less';

.gradient-bar {
  width: calc(100% - 10px);
  height: 18px;
  padding: 1px 0;
  margin: 3px 0;
  position: relative;
  left: 5px;

  .bar {
    height: 16px;
    border: 1px solid #d9d9d9;
  }
  .point {
    width: 10px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top: 0;
    border: 2px solid #fff;
    outline: 1px solid #d9d9d9;
    box-shadow: 0 0 2px 2px #d9d9d9;
    border-radius: 1px;
    cursor: pointer;

    &.active {
      outline: 1px solid @themeColor; // 在LESS中使用@符号定义变量，这里假设主题色变量名为@themeColor，需根据实际情况调整
      box-shadow: 0 0 2px 2px @themeColor;
    }
  }
}
