.create {
  display: flex;
  margin-top: 16px;
  .item {
    padding: 20px 120px;
    border-radius: 6px;
    border: 1px solid #d5dced;
    margin-right: 20px;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;

    .img {
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .text {
      font-weight: 600;
      font-size: 14px;
      color: #000000;
      line-height: 20px;
      margin-top: 18px;
    }
  }
}
