@import (reference) '~qnzs-ui/es/style/themes/default.less';

.recorder {
  &-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: var(--ant-color-primary);
    font-size: 0;
    audio {
      display: none;
    }
    .@{ant-prefix}-space {
      &-item {
        display: flex;
        align-items: center;
      }
    }
    .recorder-recording {
      display: flex;
      cursor: pointer;
      .anticon {
        border: 1px solid var(--ant-color-primary);
        border-radius: 50%;
        font-size: 10px;
        padding: 3px;
        margin-right: 5px;
      }
      .ant-btn {
        width: unset;
        height: unset;
      }
    }
    .anticon {
      color: var(--ant-color-primary);
      font-size: 18px;
    }
    .ant-btn {
      padding: 0;
      width: unset;
      height: unset;
    }
  }
  &-slider {
    display: flex;
    flex: 1;
    gap: 5px;
    margin: 0 10px;
    align-items: center;
    .@{ant-prefix} {
      &-slider {
        flex: 1;
        margin: 0 6px;
      }
    }
    &-time {
      font-size: 12px;
      color: fade(#000, 40);
      line-height: 1;
    }
  }
}
