@import (reference) '~qnzs-ui/es/style/themes/default.less';
@import (reference) '../../index.less';

.@{prefix}-audio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;

  &-bordered {
    border-radius: @border-radius-base;
    border: 1px solid @border-color-base;
  }

  .naudio {
    display: none !important;
  }

  .operate {
    font-size: 20px;
    color: @primary-color;
    line-height: 1;
  }

  .disabled {
    color: #999;
  }

  .range {
    width: 100%;
    height: 4px;
    background: #eee;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0 10px;
    flex: 1;

    &:hover {
      &::-webkit-slider-thumb {
        transform: scale(1.4);
      }
    }

    &::-webkit-slider-thumb {
      @size: 10px;
      width: @size;
      height: @size;
      background: @primary-color;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: @size / 2;
      -webkit-appearance: none;
      transition: 0.3s all ease;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        &::-webkit-slider-thumb {
          transform: scale(1);
        }
      }

      &::-webkit-slider-thumb {
        background: #999;
        cursor: not-allowed;
      }
    }
  }

  .time {
    font-size: 12px;
    color: #999;

    .hr {
      padding: 0 4px;
    }
  }

  .download {
    padding-left: 10px;
  }

  .speed {
    font-size: 12px;
    line-height: 1;
    color: @primary-color;
  }
}
