.material {
  border-right: solid 1px #eee;
  background-color: #fff;
  display: flex;
  user-select: none;
}

.tabs {
  height: 100%;
  width: 50px;
  flex-shrink: 0;
  border-right: 1px solid #eee;
  // background-color: #ccc;

  .tab {
    cursor: pointer;
    text-align: center;
    padding: 8px 0;
    // background-color: #fff;

    .tab-icon{
      font-size: 20px;
    }

    .tab-label{
      margin-top: 6px;
    }
  }

  .tab-active {
    // background-color: #fff;
    color: #1677ff;

  }
}

.content {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}
