.text-message-robot {
  margin: 0;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid var(--ant-color-border);
  border-radius: var(--ant-border-radius);

  .height-light {
    color: var(--ant-color-error);
  }
  li {
    list-style: none;
    border-bottom: 1px dashed var(--ant-color-border);
    color: var(--ant-color-primary);
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
  }
}
