.list {
  display: flex;
  justify-content: space-around;
  .item {
    width: 42%;
    height: 128px;
    line-height: 140px;
    border-radius: 4px;
    background-color: #fafafa;
    text-align: center;
    border: 1px solid #fafafa;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .active {
    border: 1px solid var(--ant-color-primary);
  }
}

.tip {
  text-align: center;
  color: #808080;
  margin-top: 12px;
  font-size: 12px;
}
