.animation-pool {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.animation-item {
  width: 50%;
  height: 100px;
  border: solid 1px #d6d6d6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px 0;
  position: relative;
  cursor: pointer;

  &.active {
    border-color: #d14424;
    z-index: 1;
  }

  &:nth-child(2n) {
    margin-left: -1px;
  }
  &:nth-child(n + 3) {
    margin-top: -1px;
  }
}

.animation-block {
  width: 64px;
  height: 36px;
  background: #666;
  position: relative;
  overflow: hidden;
  .elAnimation(@type) {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(#d14424, 0.75);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: @type 0.3s linear;
  }

  &.fade:hover {
    &::after {
      .elAnimation(fade);
    }
  }
  &.slideX:hover {
    &::after {
      .elAnimation(slideX);
    }
  }
  &.slideY:hover {
    &::after {
      .elAnimation(slideY);
    }
  }
  &.slideX3D:hover {
    &::after {
      .elAnimation(slideX3D);
    }
  }
  &.slideY3D:hover {
    &::after {
      .elAnimation(slideY3D);
    }
  }
  &.rotate:hover {
    &::after {
      transform-origin: 0 0;
      .elAnimation(rotate);
    }
  }
  &.scaleY:hover {
    &::after {
      .elAnimation(scaleY);
    }
  }
  &.scaleX:hover {
    &::after {
      .elAnimation(scaleX);
    }
  }
  &.scale:hover {
    &::after {
      .elAnimation(scale);
    }
  }
  &.scaleReverse:hover {
    &::after {
      .elAnimation(scaleReverse);
    }
  }
}

.animation-text {
  font-size: 12px;
  color: #333;
  text-align: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideY {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideX3D {
  0% {
    transform: translateX(100%) scale(0.5);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideY3D {
  0% {
    transform: translateY(100%) scale(0.5);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes scaleY {
  0% {
    transform: scaleY(0.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes scaleX {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleReverse {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
