@import (reference) '~qnzs-ui/es/style/themes/default.less';

@prefix: ~'aicc-asr';

.@{prefix} {
  &-upload-modal {
    .@{ant-prefix} {
      &-upload-list {
        max-height: 30vh;
        overflow: auto;
      }
    }
  }
  &-tape {
    header {
      .@{prefix}-tape {
        &-toolbar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: var(--ant-padding-md);
          :global {
            .@{ant-prefix} {
              &-typography {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
        &-progress {
          display: flex;
          padding: calc(var(--ant-padding-md) / 2) var(--ant-padding-md);
          background-color: var(--ant-color-primary-bg);
          color: @text-color;
          ul {
            display: flex;
            flex: 1;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
            li {
              list-style: none;
              em {
                font-style: normal;
                &[data-status='total'] {
                  color: var(--ant-color-primary);
                }
                &[data-status='undone'] {
                  color: var(--ant-color-error);
                }
              }
            }
          }
        }
      }
    }
    &-upload {
      padding: 0;
      width: unset;
      height: unset;
      color: var(--ant-color-primary);
      font-size: 16px;
      background-color: transparent;
      border: none;
    }
    .@{prefix}-highlight {
      min-width: 100px;
      max-width: 500px;
    }
    &-status {
      display: flex;
      align-items: center;
      gap: 10px;
      &[data-status='1'] {
        color: var(--ant-color-warning);
      }
      &[data-status='2'] {
        color: var(--ant-color-success);
      }
      &[data-status='-1'] {
        color: var(--ant-color-error);
      }
    }
  }
  &-highlight {
    span {
      &[data-text='error'] {
        color: rgb(237, 123, 47);
      }
      &[data-text='skip'] {
        color: rgb(0, 168, 112);
      }
      &[data-text='surplus'] {
        color: rgb(215, 24, 39);
      }
    }
  }
}
