@import '~@/themes/default.less';

.row {
  display: flex;
  padding: 0;
  height: 500px;

  .search {
    padding-right: var(--ant-padding-md);
  }

  .group {
    flex: 0 0 50%;
    border-right: 1px solid var(--ant-color-border);
    display: flex;
    flex-direction: column;

    :global {
      .@{ant-prefix}-tree-treenode:not(
          .@{ant-prefix}-tree .@{ant-prefix}-tree-treenode-disabled
        ).filter-node
        .@{ant-prefix}-tree-title {
        color: var(--ant-color-warning);
      }

      .@{ant-prefix}-tree .@{ant-prefix}-tree-node-content-wrapper {
        &.@{ant-prefix}-tree-node-selected {
          background-color: transparent;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .selected {
    flex: 0 0 50%;
    padding-left: var(--ant-padding-md);
    overflow: auto;

    .selectedGroup {
      margin-top: calc(var(--ant-padding-md) / 2);
    }

    :global {
      .@{ant-prefix}-tag {
        margin-bottom: 6px;
        padding: 4px 10px;
      }
    }
  }
}

.tabs {
  overflow: hidden;

  .user-box {
    height: 380px;
    position: relative;

    &__page {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
